body {
  margin: 0;
  font-family: sans-serif;
  color: #fff;
  background-color: #1e40af;
}
a {
  text-decoration: none;
}
.color-link a {
  color: #fff;
}
.flex {
  display: flex;
  gap: 20px;
}
.wrap {
  flex-wrap: wrap;
}
.center {
  align-content: center;
  align-items: center;
}
.margin-menu {
  margin: 20px;
}
.margin-text {
  margin: 70px 40px;
}
.text-justify {
  text-align: justify;
}
.conteiner {
  padding: 90px;
  margin: 10px 40px;
  border-radius: 5%;
  background-color: #da8618;
}
.heightconteiner {
  height: 600px;
}
.imgconteiner {
  background-image: url("./img/background-conteiner/conteiner.png");
  background-repeat: no-repeat, repeat;
}
.opacity {
  opacity: 0.25;
}

.text-bold {
  font-weight: bold;
}
.text-size {
  font-size: 20px;
}
.text-list {
  margin: 20px;
}
.spacearound {
  justify-content: space-around;
}

.linkbutton {
  padding: 20px 55px;
  margin: 10px;
  height: 50px;
  border-radius: 30px;
}
.buttonwhite {
  background-color: #fff;
}
.font20 {
  font-size: 20px;
}

.bluebutton:hover {
  background-color: rgb(202, 199, 199);
  cursor: pointer;
}
.bluebutton {
  background-color: #112257;
  padding: 8px 20px;
  margin: 5px;
  height: 15px;
  border-radius: 10px;
}
.fontwhite a {
  color: #fff;
}
.bold {
  font-weight: bold;
}
.blue {
  color: #1e40af;
}

.margintopbutton {
  margin-top: 250px;
}
.text-center {
  text-align: center;
}
.p-size {
  font-size: 10px;
}
.size-footer {
  font-size: 20px;
}
.marginapp {
  padding: 150px 200px;
}
.borderapp {
  border-radius: 5%;
}
.borderwhite {
  border: 3px solid #fff;
}
.margintitle-conteiner2 {
  margin-top: 100px;
}
.justify-between {
  justify-content: space-between;
}

.pd-menu-itens {
  padding-left: 10px;
  padding-right: 10px;
}
.language {
  background-color: #ffffff;
  width: 300px;
  color: #000;
  padding: 5px;
  margin: 30px;
  height: 25px;
  border-radius: 10px;
}
.circle {
  border-radius: 100%;
}
.cardinfo {
  background-color: #fff;
  color: rgb(12, 12, 12);
  width: 400px;
  padding: 20px;
  margin: 10px;
  height: 150px;
  border-radius: 10px;
}
.right {
  position: relative;
  left: 1090px;
  top: 250px;
}
@media screen and (min-width: 576px) {
  .margin-text {
    .margin: 40px 40px;
  }
  .right {
    position: relative;
    left: 700px;
    top: 250px;
  }
  .conteiner {
    padding: 10px;
    margin: 0px 40px;
    border-radius: 5%;
  }
  .marginbuttons {
    margin: 0px;
  }
}

@media screen and (min-width: 1024px) {
  .margin-text {
    margin: 40px 80px;
  }
  .conteiner {
    margin: 0px 80px;
    border-radius: 1%;
  }
}
@media (min-width: 1900px) {
  .margin-text {
    margin: 40px 400px;
    border-radius: 2%;
  }
  .conteiner {
    margin: 0px 400px;
    border-radius: 1%;
  }
}
