body {
  margin: 0;
  font-family: sans-serif;
  color: #fff;
  background-color: #1e40af;
}
a {
  text-decoration: none;
}
.color-link a {
  color: #fff;
}
.flex {
  display: flex;
  gap: 20px;
}
.wrap {
  flex-wrap: wrap;
}
.center {
  align-content: center;
  align-items: center;
}
.margin-menu {
  margin: 20px;
}
.margin-text {
  margin: 70px 40px;
}
.text-justify {
  text-align: justify;
}
.conteiner {
  background-color: #da8618;
  padding: 90px;
  margin: 10px 40px;
  border-radius: 5%;
}
.heightconteiner {
  height: 600px;
}

.text-bold {
  font-weight: bold;
}
.text-size {
  font-size: 20px;
}
.text-list {
  margin: 20px;
}
.spacearound {
  justify-content: space-around;
}

.linkbutton {
  padding: 20px 90px;
  margin: 10px;
  height: 20px;
  border-radius: 30px;
}
.buttonwhite {
  background-color: #fff;
}

.buttonwhite:hover {
  background-color: rgb(202, 199, 199);
  cursor: pointer;
}
.bold {
  font-weight: bold;
}
.blue {
  color: #1e40af;
}
.marginbuttons {
  margin: 10px;
}
.margintopbutton {
  margin-top: 100px;
}
.text-center {
  text-align: center;
}
.p-size {
  font-size: 12px;
}
.size-footer {
  font-size: 20px;
}
.marginapp {
  padding: 150px 200px;
}
.borderapp {
  border-radius: 5%;
}
.borderwhite {
  border: 3px solid #fff;
}
.margintitle-conteiner2 {
  margin-top: 100px;
}
.justify-between {
  justify-content: space-between;
}

.padding-menu {
  padding-left: 40px;
  padding-right: 40px;
}
.pd-menu-itens {
  padding-left: 10px;
  padding-right: 10px;
}
@media screen and (min-width: 576px) {
  .margin-text {
    .margin: 40px 40px;
  }
  .conteiner {
    padding: 10px;
    margin: 0px 40px;
    border-radius: 5%;
  }
  .marginbuttons {
    margin: 0px;
  }
}

@media screen and (min-width: 1024px) {
  .margin-text {
    margin: 40px 80px;
  }
  .conteiner {
    margin: 0px 80px;
    border-radius: 1%;
  }
}
@media (min-width: 1900px) {
  .margin-text {
    margin: 40px 400px;
    border-radius: 2%;
  }
  .conteiner {
    margin: 0px 400px;
    border-radius: 1%;
  }
}
